@model Proyecto.Entities.Entities.tbPlantilla
@{
    ViewData["Title"] = "Reporte Enfermos";
}



<form asp-route="PrintBy" autocomplete="off" method="post">
    <div class="form-group">
        <input type="text" asp-for="planti_Turno" class="form-control" maxlength="200" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Buscar" class="btn btn-info" target="_blank" />
            <a class="btn btn-danger" asp-area="" asp-controller="Plantilla" asp-action="Print" target="_blank">Mostrar Todo</a>
        </div>
    </div>
</form>

