@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
</style>
<div class="contenedor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                <img src="~/images/Denegado.png" alt="" height="170">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                <h2 class="card-title font-16 mt-0">Lo sentimos, usted no tiene accesso a esta pantalla.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="display: flex; justify-content: center; align-items: center;">
                <a class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="Dashboardlist">Inicio</a>
            </div>
        </div>

    </div>
</div>

<div id="NuevaPassword" style="display:none;" class="modal hide fade in" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="text-align:center">
                <h5 class="modal-title mt-2">ATENCIÓN</h5>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-group">
                    <div>
                        <label class="form-label">Deberá cambiar su contraseña temporal por una personal.</label>
                    </div>
                    <div>
                        <label class="form-label">Mientras no haga el cambio no podrá acceder a ninguna otra función.</label>
                    </div>
                    <div>
                        <label class="form-label">Por favor cierre sesion y vuelva a iniciar para cambiar su contraseña.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CerrarModalTemp()" class="btn btn-secondary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section Scripts{
    <script src="~/js/app/Login/ClaveTemporal.js"></script>
}



