@model AHM.Logistic.Smart.Common.Models.ContactsViewModel

@{
    ViewData["Title"] = "Eliminar contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top: 10%">
    <div class="container-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card" style="padding: 5% 3% 5% 3%">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">¿Desea eliminar esta área?</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="new-user-info">
                                <form method="post" autocomplete="off">
                                    <input type="hidden" asp-for="cont_Id" />
                                    <input type="hidden" asp-for="cont_Name" />
                                    <input type="hidden" asp-for="cont_LastName" />
                                    <input type="hidden" asp-for="cont_Email" />
                                    <input type="hidden" asp-for="cont_Phone" />
                                    <input type="hidden" asp-for="cont_IdUserCreate" />
                                    <input type="hidden" asp-for="cont_IdUserModified" value="1" />
                                    <hr>
                                    <div style="margin: 4% 0% 0% 0%;">
                                        <button type="submit" class="btn btn-warning" style="margin: 0px 30px 0px 0px;">Eliminar</button>
                                        <a class="btn btn-danger" asp-area="" asp-controller="Contacts" asp-action="Index">Regresar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>