@model AHM.Logistic.Smart.Common.Models.CustomerNotesModel
<div class="card-body">
    <form class="form-row" method="post" id="frmCreateCustomerNote" asp-controller="CustomersNotes" asp-action="Create">
        <input type="hidden" id="cus_Id" asp-for="cus_Id" />
        <input type="hidden" id="cun_Id" asp-for="cun_Id" />
        <input type="hidden" id="cun_IdUserCreate" asp-for="cun_IdUserCreate"/>
        <div class="form-group col-md-6">
            <label class="form-label is-required">Descripción</label>
            <textarea id="cun_Descripcion" asp-for="cun_Descripcion" value="" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-6" maxlength="14">
            <label class="form-label is-required">Fecha de expiración</label>
            <input type="date" id="cun_ExpirationDate" asp-for="cun_ExpirationDate" value="" class="form-control"/>
        </div>
        <div class="form-group col-md-6">
            <div id="divPrioridad">
                <label class="form-label is-required">Prioridad</label>
                <select name="pry_Id" asp-for="pry_Id" id="priorities" class="form-control selectpicker">
                    <option value='0' selected> Por favor seleccione una opción... </option>
                    @foreach (var item in Model.listPriorities)
                    {
                        <option value=@item.pry_Id>@item.pry_Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-secondary" style="margin: 0px 30px 0px 0px;" href="#nav-notes" onclick="ValidateFrmCreateCustomerNote()">Agregar</button>
        </div>
    </form>
</div>