@model AHM.Logistic.Smart.Common.Models.PersonsModel
@{
    ViewData["Title"] = "Crear personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Table = "Personas";
}
<!-- Build -->
<link rel="stylesheet" href="~/build/css/intltelinput.css">
<link rel="stylesheet" href="~/build/css/demo.css">

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="card-title font-16 mt-0">Registrar persona</h4>
                    <div class="card-body">
                        <form method="post" autocomplete="off" id="frmCreatePersons">
                            <div class="row">
                                <input type="hidden" asp-for="per_IdUserCreate" value="1" />
                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Identidad</label>
                                    <input type="text" asp-for="per_Identidad" class="form-control" maxlength="13" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Primer nombre</label>
                                    <input type="text" asp-for="per_Firstname" class="form-control" maxlength="20" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">Segundo nombre</label>
                                    <input type="text" asp-for="per_Secondname" class="form-control" maxlength="20" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Apellidos</label>
                                    <input type="text" asp-for="per_LastNames" class="form-control" maxlength="20" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Fecha de nacimiento</label>
                                    <input type="date" asp-for="per_BirthDate" class="form-control" value="dd-mm-yyyy" />
                                </div>

                                <div class="form-group col-md-6" >
                                    <div id="divSexo">
                                        <label class="form-label is-required">Sexo</label>
                                        <select asp-for="per_Sex" class="form-control">
                                            <option value="0">Por favor seleccione una opción... </option>
                                            <option value="F">Femenino</option>
                                            <option value="M">Masculino</option>
                                        </select>
                                    </div>

                                </div>


                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Email</label>
                                    <input type="text" asp-for="per_Email" class="form-control" maxlength="100" />
                                </div>
                                <div class="form-group col-md-6">

                                    <label class="form-label is-required">Número de celular</label>
                                    <input type="text" maxlength="30" asp-for="per_Phone" class="form-control validateInput-ui" />

                                    <div style="color: red;" id="per_PhoneMess"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label is-required">Dirección</label>
                                    <input type="text" asp-for="per_Direccion" class="form-control" maxlength="200" />
                                </div>

                                <div class="form-group col-md-6">
                                    <div id="divDepar">
                                        <label class="form-label is-required">Departamento</label>
                                        <select name="dep_Id" id="SelectDepartments" class="form-control" maxlength="1">
                                            <option value="0"> Por favor seleccione una opción... </option>
                                        </select>
                                    </div>
   
                                </div>


                                <div class="form-group col-md-6" >
                                    <div id="divMuni">
                                        <label class="form-label is-required">Municipio</label>
                                        <select name="mun_Id" id="SelectMunicipalities" class="form-control" maxlength="1" disabled>
                                            <option value="0"> Por favor seleccione una opción... </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group col-md-6">
                                    <div id="divEsta">
                                        <label class="form-label is-required">Estado civil</label>
                                        <select asp-for="per_Esciv" class="form-control">
                                            <option value="0">Por favor seleccione una opción... </option>
                                            <option value="C">Casado</option>
                                            <option value="S">Soltero</option>
                                            <option value="D">Divorciado</option>
                                            <option value="V">Viudo</option>
                                            <option value="U">Unión libre</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <button type="submit" class="btn btn-secondary" style="margin: 0px 30px 0px 0px;">Aceptar</button>
                            <a class="btn btn-primary" asp-area="" asp-controller="Persons" asp-action="Index">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/build/js/intlTelInput.js"></script>
    <script src="~/js/app/Persons/PersonsCreate.js"></script>
    <script>
        function docReady(fn) {
            if (document.readyState === "complete" || document.readyState === "interactive") {
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }
        docReady(function () {
            Menu('persons');

        });
    </script>
}