@model EmpleadoHospitalViewModel
@{
    ViewData["Title"] = "EmpleadoHospitalId";
}
<br />  <p><br /></p>
<div class="container col-lg-10">
    <div class="card">
        <div class="card-header">
            <br /><br />
            <div class="col-5 col-md-10">
                <h4>Reporte de Empleados por Hospital</h4>
            </div><br />
        </div>
        <div class="card-body col-10">
            <form autocomplete="off" method="post" target="_blank">
                <div class="col-lg-10">
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="hospi_Id" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <select asp-for="hospi_Id" class="form-control" asp-items="Model.ListadoHospitales">
                                <option>Seleccione el Hospital</option>
                            </select>
                            <span asp-validation-for="hospi_Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <br />
                            <input type="submit" value="Mostrar Reporte" class="btn btn-sm btn-outline-info" target="_blank" />
                            <br /><br />
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>