@model AHM_LOGISTIC_SMART_ADM.Models.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Table = "One world logistic";
    ViewBag.Description = "Página de inicio";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<html>
<body>
    <div class="page-content-wrapper">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary mini-stat position-relative" style="height:150px;">
                    <div class="card-body">
                        <div class="mini-stat-desc">
                            <h6 class="text-uppercase verti-label text-white-50">Total</h6>
                            <div class="text-white">
                                <h6 class="text-uppercase mt-0 text-white-50">Clientes</h6>
                                <h3 class="mb-3 mt-0" id="cln"></h3>
                                <div class="">
                                    <span class="badge badge-light text-info"> Info </span> <span class="ml-2">Total de clientes activos.</span>
                                </div>
                            </div>
                            <div class="mini-stat-icon">
                                <i class="ion-android-contacts display-1" style="margin-top:50px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary mini-stat position-relative" style="height:150px;">
                    <div class="card-body">
                        <div class="mini-stat-desc">
                            <h6 class="text-uppercase verti-label text-white-50">Total</h6>
                            <div class="text-white">
                                <h6 class="text-uppercase mt-0 text-white-50">Cotizaciones</h6>
                                <h3 class="mb-3 mt-0" id="coti"></h3>
                                <div class="">
                                    <span class="badge badge-light text-info"> Info </span> <span class="ml-2">Total de cotizaciones activas.</span>
                                </div>
                            </div>
                            <div class="mini-stat-icon">
                                <i class="ion-ios7-bookmarks display-1" style="margin-top:50px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary mini-stat position-relative" style="height:150px;">
                    <div class="card-body">
                        <div class="mini-stat-desc">
                            <h6 class="text-uppercase verti-label text-white-50">Total</h6>
                            <div class="text-white">
                                <h6 class="text-uppercase mt-0 text-white-50">Ventas</h6>
                                <h3 class="mb-3 mt-0" id="venta"></h3>
                                <div class="">
                                    <span class="badge badge-light text-info"> Info </span> <span class="ml-2">Total de ventas activas.</span>
                                </div>
                            </div>
                            <div class="mini-stat-icon">
                                <i class="ion-cash display-1" style="margin-top:50px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary mini-stat position-relative" style="height:150px;">
                    <div class="card-body">
                        <div class="mini-stat-desc">
                            <h6 class="text-uppercase verti-label text-white-50">Emails enviados</h6>
                            <div class="text-white">
                                <h6 class="text-uppercase mt-0 text-white-50">Última campaña</h6>
                                <h3 class="mb-3 mt-0" id="campa"></h3>
                                <div class="">
                                    <span class="badge badge-light text-info"> Info </span> <span class="ml-2">Total</span>
                                </div>
                            </div>
                            <div class="mini-stat-icon">
                                <i class="ion-cash display-1" style="margin-top:50px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:4vh">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4" style="text-align:center">Productos más vendidos/mes</h4>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="width: 44vh">

                        <div style="width: 42vh; float:left; position: relative; left: 22vh">
                            <h4 class="mt-0 header-title mb-4" style="text-align:center">Clientes con más ventas/mes</h4>
                            <canvas id="doughnutChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:5vh">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4" style="text-align:center">Últimas Cotizaciones</h4>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Celular</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Fecha creada</th>
                                        <th scope="col">Estado</th>

                                    </tr>
                                </thead>
                                <tbody id="tablacoti">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4" style="text-align:center">Últimas Ventas</h4>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Celular</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Fecha creada</th>
                                        <th scope="col">Estado</th>

                                    </tr>
                                </thead>
                                <tbody id="tablasales">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
    <script src="~/js/app/Dashboard/Dashboard.js"></script>
    <script src="~/js/app/Dashboard/LastCotizations.js"></script>
    <script src="~/js/app/Dashboard/LastSales.js"></script>
    <script src="~/js/app/Dashboard/BarChart.js"></script>
    <script src="~/js/app/Dashboard/DoughChart.js"></script>
</body>
</html>
