@model SalaViewModel
@{
    ViewData["Title"] = "Salas";
}
<br />  <p><br /></p>
<div class="container col-lg-10">
    <div class="card">
        <div class="card-header">
            <br />
            <h4>Insertar Sala</h4>
        </div>
        <div class="card-body col-lg">
            <form autocomplete="off" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="hospi_Id" class="control-label col-md-2">Sala</label>
                    <div class="col-md-10">
                        <select asp-for="hospi_Id" class="form-control" asp-items="Model.ListadoHosp">
                            <option>Seleccione Sala</option>
                        </select>
                        <span asp-validation-for="hospi_Id" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="sala_Nombre" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="sala_Nombre" class="form-control" maxlength="150" />
                        <span asp-validation-for="sala_Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="sala_NumCamas" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="sala_NumCamas" class="form-control" maxlength="150" />
                        <span asp-validation-for="sala_NumCamas" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10"><br />
                        <input type="submit" value="Guardar" class="btn btn-sm btn-outline-info" />
                        <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Sala" asp-action="PrintUltId" target="_blank">Ultimo Reporte</a>
                        <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Sala" asp-action="Print" target="_blank">Mostrar Reporte</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

