@model IEnumerable<SalaViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Listado de Salas</h1>
                        <p>
                            <a class="btn btn-outline-success" asp-area="" asp-controller="Sala" asp-action="Create">Insertar</a>
                        </p>

                        <table class="table table-dark table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>Id Hospital</th>
                                    <th> Id Sala</th>
                                    <th>Nombre </th>
                                    <th> N° de Camas</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.hospi_Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.sala_Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.sala_Nombre)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.sala_NumCamas)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


