
@{
    ViewData["Title"] = "Index";
}
<section class="content">
   
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Enfermos</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div class="row">

                <div class="col-sm">
            

                    <label>Nombre del Hospital</label>
                    <input type="text" name="txtHospital" value="" />
                    <br />

                    <label>Nombre del Empleado</label>
                    <input type="text" name="txtHospital" value="" />
                    <br />


                    <label>Nombre de la Sala</label>
                    <input type="text" name="txtHospital" value="" />
                    <br />



                </div>



                <div class="col-sm">
                    <label>Numero de Inscripción</label>
                    <input type="number" name="txtHospital" value="" />
                    <br />


                    <label>Teléfono del Hospital</label>
                    <input type="number" name="txtHospital" value="" />
                    <br />

                

                </div>

            </div>

            <button type="button" class="btn btn-outline-dark">Ingresar</button>




            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
    <!-- /.card -->

</section>










