@model UsuariosViewModel
@{
    ViewData["Title"] = "Crear";
}
<div class="container col-lg-10">

    <div class="card col-md-10">

        <div class="card-header">
            <h4>Insertar Usuario</h4>
        </div>

        <div class="card-body">
            <form autocomplete="off" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="rol_ID" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="rol_ID" class="form-control" asp-items="Model.ListRol">
                            <option>Seleccione Rol</option>
                        </select>
                        <span asp-validation-for="rol_ID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="usu_Nombre" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_Nombre" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="usu_Apellido" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_Apellido" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="usu_Email" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_Email" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="usu_Password" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_Password" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="usu_NumeroTelefono" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_NumeroTelefono" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_NumeroTelefono" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="usu_NumeroCelular" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="usu_NumeroCelular" class="form-control" maxlength="150" />
                        <span asp-validation-for="usu_NumeroCelular" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-sm btn-outline-success" />
                        <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Index">Regresar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                        
                        
