@model AHM.Logistic.Smart.Common.Models.CambiarContraseña

<form asp-controller="user" asp-action="ChangePassword" id="Changepassword" method="post" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <h4>Nueva contraseña</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="usu_Id" id="Usu_Id" />
            <input type="hidden" asp-for="Per_Id" id="per_Id" />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label is-required">Nueva contraseña</label>
                            <input class="form-control" type="password" asp-for="NewPassword" />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label is-required">Confirmar contraseña</label>
                            <input class="form-control" type="password" asp-for="ConfirmContraseña" />
                            <span class="text-danger" asp-validation-for="ConfirmContraseña"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-secondary">Aceptar</button>
                        <a class="btn btn-primary" href="/User/Index/">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
