@model AHM.Logistic.Smart.Common.Models.UsersViewModel
@{
    if (ViewBag.usu_Id == 0)
    {
        ViewData["Title"] = "Create";
    }
    else
    {
        ViewData["Title"] = "Edit";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Table = "Usuarios";
}

<div class="container-fluid" style="margin-top:5vh">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-start flex-column" style="@(Model.editarUsuario.usu_Id > 0 ? "margin-top:30px" : "")">
                <partial name="EditUserPartial" model="@Model.editarUsuario">
            </div>
        </div>
        <div class="col-md-6">
            @if (Model.editarUsuario.usu_Id > 0)
            {<div style="margin-top:30px">
                    <partial name="CambiarContraseñaPartial" model="@Model.CambiarContraseña">
             </div>
             }
        </div>
    </div>
</div>

<div id="NuevaPassword" style="display:none;" class="modal hide fade in" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="text-align:center">
                <h5 class="modal-title mt-2">ATENCIÓN</h5>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-group">
                    <div>
                        <label class="form-label">Deberá cambiar su contraseña temporal por una personal.</label>
                    </div>
                    <div>
                        <label class="form-label">Mientras no haga el cambio no podrá acceder a ninguna otra función.</label>
                    </div>
                    <div>
                        <label class="form-label">Una vez hecho el cambio, cierre sesion y entre de nuevo para acceder a sus funciones normales.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CerrarModalTemp()" class="btn btn-secondary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts{
    <script src="~/js/app/Login/Login.js"></script>
    <script src="~/js/app/Users/Users.js"></script>
    <script src="~/js/app/Users/UsersActions.js"></script>
    <script>
        function docReady(fn) {
            if (document.readyState === "complete" || document.readyState === "interactive") {
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }
        docReady(function () {
            Menu('users');

        });
    </script>
}

